@model OrderItem

@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 font-weight-bold">
                        ID
                    </div>
                    <div class="col-sm-8 font-weight-bold">
                        Name
                    </div>
                    <div class="col-sm-2 font-weight-bold">
                        Price
                    </div>
                </div>
                @foreach (var product in Model.Products)
                {
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.DisplayFor(modelItem => product.Id)
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(modelItem => product.Name)
                        </div>
                        <div class="col-sm-2">
                            $@Html.DisplayFor(modelItem => product.Price)
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-6">
            @using (Html.BeginForm())
            {
            <form>
                <div class="form-group">
                    <label for="orderId" class="font-weight-bold">Order ID</label>
                    <input class="form-control" value="@Model.Orderid" disabled>
                </div>
                <div class="form-group">
                    <input class="form-control" name="orderId" value="@Model.Orderid" type="hidden">
                </div>
                <div class="form-group">
                    <label for="orderList" class="font-weight-bold">Select Your Product</label>
                    <select class="form-control" name="orderProduct">
                        @foreach (var product in Model.Products)
                        {
                            <option value="@product.Id">@Html.DisplayFor(modelItem => product.Name)</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity" class="font-weight-bold">Enter Quantity</label>
                    <input type="number" class="form-control" name="quantity">
                </div>
                <button type="submit" value="Add" class="btn btn-primary mb-2">Add</button>
            </form>
            }
        </div>
    </div>
</div>